/**
 * {{{description}}}
{{#vars}}
 * @param {{name}} {{{description}}} {{#required}}(required){{/required}}
{{/vars}}
 */
data class {{classname}} (
{{#vars}}
{{#required}}{{>data_class_req_var}}{{^-last}},
{{/-last}}{{/required}}{{^required}}{{>data_class_opt_var}}{{^-last}},
{{/-last}}{{/required}}
{{/vars}}
) {
{{#hasEnums}}{{#vars}}{{#isEnum}}

    enum class {{nameInCamelCase}}(val value: {{datatype}}) {
    {{#_enum}}
        {{{this}}}({{#isString}}"{{/isString}}{{{this}}}{{#isString}}"{{/isString}}){{^-last}},{{/-last}}{{#-last}};{{/-last}}
    {{/_enum}}
    }
{{/isEnum}}{{/vars}}{{/hasEnums}}
}